
  .btn-primary {
    color: #fff !important;
    background-color: $primary;
    border-color: $primary;
  }

  
.btn-social{
  padding: 15px 19px;
  i{ min-height: 18px; }
}

.btn-xl{
  padding: 1rem 2rem;
  font-size: large;
}

.btn-links{
  //border-radius: 30px 3px 30px 30px ;
}



.btn-links-inverse{
  //border-radius: 30px 30px 30px 3px ;
  background-color: $secondary;
  color: $primary !important;
}


a.btn-links-inverse:hover, a.btn-links:hover{
  color:white !important;
}



#gotopbutton {
  display: inline-block;
  background-color: $secondary;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  padding: 10px;
  color: $primary;
}
/*
#gotopbutton::after {
  //content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
*/
#gotopbutton:hover {
  cursor: pointer;
  background-color: $primary;
  color: white;
}
#gotopbutton:active {
  background-color: $secondary;
}
#gotopbutton.show {
  opacity: 1;
  visibility: visible;
}



button.close {
  display: inline-block;
  background-color: $secondary;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 30px 30px 30px 3px !important;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1000;
  padding: 10px;
  color: $primary;
  opacity: 1;
}
